h1{
    font-family: 'Texta Medium';
    font-size: 36px;
    color: #c262af;
}
h2{
    font-family: 'Texta Light';
    font-size: 14px;
    color: #000000;    
    font-weight: 500;
    padding: 6% 0 3%;
}
h4{
    font-family: 'Texta Black';
    font-size: 10px;
    color: #c262af;
    font-weight: 800;
    padding: 10%;
}
.frame > .frame-par{
    font-family: 'Texta Light';
    font-size: 9px;
    color: #000000;    
    line-height: 13px;
    padding: 0 2.5%;
}

.footer > .footer-text{
    font-family: 'Texta Light';
    font-size: 10px;    
    color: #ffffff;
    font-weight: 400;
    position: relative;
    top: 40%;
}
.header > .header-content{
    display: flex;
    justify-content: space-between;
}
.frame > .frame-img{
    display: block;
    width: 100%;
}
.header-content > .logo-img{
    position: relative;
    top: 13.3%;
    color: #c262af;
}
.header-content > .ico-img{
    position: relative;
    top: 20%;
}