.header-content > a > .logo-img:hover, 
.header-content > a > .ico-img:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
}

.frame h4 {
    cursor: pointer;
    color: #c262af;
    transition: color 0.3s ease, background-color 0.3s ease;
    border-radius: 5px;
    padding: 10px;
}

.frame h4:hover {
    color: white;
    background-color: #c262af;
    border-radius: 5px;
}