*{
    margin: 0;
    letter-spacing:0.01px;
    word-spacing: 0.001px;
}

html, body{
    background-color: #e1b7bf;
    height: 100%;
    width: 100%;
    margin: 0;
}
.flex-container{
    display: flex;
    flex-direction: column;
}

.flex-container> .footer{
    height: 9.2%;
    background-color: #333333;
    text-align: center;
}

.ribbon{
    background-color: #59437a;
    height: 23.5%;
    width: 100%;
    z-index: 1;
    position: absolute;
    top: 33.7%;
    bottom: 37%;
}
.frame-content {
    display: flex;
    position: relative;
}
.frame-content > .frame {
    background-color: #ffffff;
    /* height: 264px;
    width: 138px; */
    text-align: center;
    box-shadow: 0 7px 15px rgba(0,0,0,0.15);
    border-radius: 6px;
    position: relative;
    z-index: 2;
    /* padding: 14.7px; */
}

.frame-1 {
    z-index: 3;
}

.frame-2 {
    z-index: 3;
}

.frame-3 {
    z-index: 3;
}

@font-face {
    font-family: 'Texta Black';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/TextaBlack.woff') format('woff');
    }
@font-face {
    font-family: 'Texta Light';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/TextaLight.woff') format('woff');
    }
@font-face {
    font-family: 'Texta Medium';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/TextaMedium.woff') format('woff');
    }