*{
    margin: 0;
    text-align: center;
}

html, body{
    background-color: #e1b7bf;
}

.flex-container{
    display: flex;
    flex-direction: column;
}

.flex-container> .footer{
    background-color: #333333;
}

.ribbon{
    background-color: #59437a;
    width: 100%;
    z-index: 1;
    position: absolute;
    bottom: 37%;
}

.frame-content {
    display: flex;
    position: relative;
}
.frame-content > .frame {
    background-color: #ffffff;
    box-shadow: 0 7px 15px rgba(0,0,0,0.15);
    border-radius: 6px;
    position: relative;
    padding: 14.7px;
    z-index: 3;
}

@font-face {
    font-family: 'Texta Black';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/TextaBlack.woff') format('woff');
    }
@font-face {
    font-family: 'Texta Light';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/TextaLight.woff') format('woff');
    }
@font-face {
    font-family: 'Texta Medium';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/TextaMedium.woff') format('woff');
    }